body {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4); /* light black tint */
  z-index: -1;
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
  animation: fadeInUp 1s ease-out;
}

.hero-content p {
  font-size: 1.2rem;
  opacity: 0.9;
  animation: fadeInUp 1.4s ease-out;
}

/* Animation */
@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Info Section */
.info-flex {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  align-items: stretch;
}

.car-box,
.car-features {
  background-color: #111;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 0 15px #ff003c;
  animation: fadeSlideIn 1s ease-out;
  transition: 0.3s ease;
}

.car-box:hover,
.car-features:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px cyan;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.car-image {
  background-color: purple;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
  width: fit-content;
}

.car-image img {
  width: 1000px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ff003c;
  transition: 0.3s;
}

.car-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #ff0066;
  cursor: pointer;
}
#toggle-btn{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    transition: all 0.3s ease;
}
#toggle-btn:hover {
    background-color: #111;
    transform: scale(1.05);
}
